.wrapper {
  background: #fafafa;
  padding: 40px 20px;
}

.content {
  width: 1000px;
  border-top: 1px solid #e6e6e6;
  background: #fff;
  box-sizing: border-box;  
}


.container {
  color: #626262;

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 30px 0 0 25px;
  }
}

// list of games

.games--reverse {
  display: flex;
  flex-direction: column-reverse;
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-size: 14px;
  
}

.games {
  display: flex;
  flex-direction: column;
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-size: 14px;

}

.game-wrapper {
  border-bottom: 1px solid rgb(228, 228, 228);
  
  &:nth-of-type(even) {
    background: #fafafa;
  }
  
  &:hover {
    border-bottom: 1px solid rgb(179, 179, 179);
  }
} 



  .game {
    padding: 15px 25px 15px 25px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 70px 330px 1fr 1fr 1fr 1fr;

    &__desc {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #3a9dcb;
      transition: .3s ease-in-out;

      &:hover {
        color: #005780;
      }
    }

    &__img {
      width: 80px;
      margin-right: 20px;
    }
  }

.Link {
  text-decoration: none;
}