.container {
   
   &__games {
      padding: 25px;
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%; 
      justify-content: space-between;
   }
   
   &__game {
      padding: 5px;
      margin: 15px;
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      border: 1px solid transparent;
      width: 350px;
      transition: .2s ease-in-out;
      
      &:hover .container__img::after {
         opacity: 1;
      }

      &:hover .container__name {
         color: #03cece;
      }
   }

   &__name {
      font-size: 30px;
      font-weight: 300;
      transition: .2s ease-in-out;
   }

   &__img {
      position: relative;
      width: 100%;
      margin-top: 10px;
      height: 200px;
      overflow: hidden;
      
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         background: #03cece77;
         transition: .2s ease-in-out;
      }

      img {
         width: 100%;
      }
   }

   &__info {
      font-size: 14px;
      margin-top: 15px;
   }

   &__details--bold {
      font-weight: 700;
      margin-right: 5px;
   }

}