.navigation {
      // border: 1px solid red;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #626262;
      padding: 25px;
   
   &__search-box {
      display: flex;
      align-items: center;
   }
   
   &__search-text {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 14px;
      margin-right: 15px;
   }

   &__input {
      padding: 10px;
      border: 1px solid #eeeeee;
      outline: none;
      border-radius: 4px;
   }
}


.pagination {

   &__container {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
   }
   
   &__numbers {
      width: 30px;
      height: 30px;
      text-align: center;
      margin-right: 1px;
      
      a {
         background: rgba(226, 235, 236, 0.5);
         color: #fff;
         padding: 4px 0;
         display: block;
         text-decoration: none;
         transition: .2s ease-in-out;

         &:hover {
           background: rgba(104, 202, 218, 0.5);
         }
      }
   }
}

a.activePage {
   background: rgba(104, 202, 218, 0.5);
}

.filters {
   margin-top: 30px;
   padding: 0 25px 15px 25px;
   border-bottom: 1px solid rgb(228, 228, 228);
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 70px 330px 1fr 1fr 1fr 1fr;
   cursor: pointer;
}

.filter {
   font-size: 14px;
   color: rgb(194, 194, 194);
   font-weight: 700;
   text-transform: uppercase;
   margin-right: 30px;
   position: relative;
   transition: .3s ease-in-out; 
   &:hover {
      color: rgb(122, 122, 122); 
   }
   
   &:hover .icon {
      color: rgb(134, 134, 134); 
   }
   
   &:last-child {
      margin-right: 0;
   }

}
.filter--active {
   @extend .filter;
   color: rgb(100, 100, 100);
}

.filter--active > .icon {
   @extend .icon;
   color: rgb(100, 100, 100) !important;
}

.icon {
   position: absolute;
   bottom: 0;
   right: 5px;
   font-size: 16px;
   transition: .3s ease-in-out; 
   color: rgb(228, 228, 228);
}
