.info {
  // color: #626262;
   color: #fff;
   height: 100vh;
   padding: 30px;

   &__title {
      font-size: 30px;
      font-weight: 600;
   }

   &__desc {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
      flex-wrap: wrap;
   }

   &__img {
      width: 450px;
      margin: 0 20px 20px 0;

   }

   &__text {
      font-size: 15px;
      width: 450px;
      text-align: justify;
      margin-bottom: 20px;
   }

   &__details {
      width: 450px;
      font-size: 14px;
      margin-top: 3px;
   }

   &__details--bold {
      font-weight: 700;
      margin-right: 5px;
   }
}

.home-btn {
   background:rgba(255, 255, 255, 0.226);
   border: none;
   border-radius: 2px;
   text-transform: uppercase;
   font-size: 12px;
   margin-bottom: 10px;
   transition: .2s ease-in-out;
   cursor: pointer;
   
   &:hover {
      background: rgba(255, 255, 255, 0.466);
   }

   &:hover a{
      color:white;
   }

   a {
      text-decoration: none;
      display: block;
      padding: 5px 15px;
      box-sizing: border-box;
      color: rgba(255, 255, 255, 0.466);
      transition: .2s ease-in-out;
   }
}