.menu {
   padding: 0;
   display: flex;
   margin: 0;
   width: 1000px;
   justify-content: space-around;

   &__item {
      text-transform: uppercase;
      list-style: none;
      color: #9b9d99;
      font-weight: 600;
      margin-right: 25px;
      font-size: 14px;
      padding: 15px 0;
      position: relative;
      text-decoration: none;
      outline: none;
      cursor: pointer;

      &:hover {
         color: #5e5e5e;
      }

      &:last-child {
         margin-right: 0;
      }

      &[aria-selected="true"] {
         color: #5e5e5e;

      &::after {
         content: '';
         position: absolute;
         width: 15px;
         height: 15px;
         bottom: -9px;
         left: 0;
         right: 0;   
         margin-left: auto;
         margin-right: auto;
         background: #fafafa;
         transform: rotate(45deg);
         border-right:  1px solid #e6e6e6; 
         border-bottom: 1px solid #e6e6e6;
      }
      }
   }
   
   &__link {
      text-decoration: none;
   }
}

.menu__item--disabledWrapper {
   cursor: not-allowed;
}

.menu__item--disabled {
   pointer-events: none;
   color: #bebebe;
   padding: 15px 0;

}
